services:

  # Node.js (Express) service
  # dev_portal:
  #   container_name: restaurant_service
  #   env_file:
  #     - .env
  #   build:
  #     context: ./portal
  #     dockerfile: Dockerfile
  #   restart: always
  #   depends_on:
  #     - postgres
  #   ports:
  #     - ${PORTAL_PORT}:${PORTAL_PORT}
  #   networks:
  #     - res-network
  #   volumes:
  #     - ./portal:/usr/src/app
  #     - /usr/src/app/node_modules

  postgres:
     image: postgres:18
     container_name: restaurant_postgres
     restart: always
     env_file:
       - .env
     environment:
       - POSTGRES_USER=${POSTGRES_USER}
       - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
     volumes:
       - postgres_data_dev:/var/lib/postgresql
     ports:
       - ${POSTGRES_PORT}:${POSTGRES_PORT}
     networks:
       - res-network

  redis:
   image: redis:8.4.0-alpine3.22
   container_name: redis
   restart: always
   env_file:
     - .env
   environment:
     - REDIS_PASSWORD=${REDIS_PASSWORD}
   command: redis-server --requirepass ${REDIS_PASSWORD}
   volumes:
     - redis_data_dev:/data
   ports:
     - ${REDIS_PORT}:6379
   networks:
     - res-network


networks:
  res-network:
    driver: bridge

volumes:
  postgres_data_dev:
  redis_data_dev: